
html{
    font-size: 20px;
}
body{
    font-family: sans-serif;
}
#img-div {
    text-align: center;
    
    margin: 0 auto;
}

#image {
    max-width: 800px;
}

#tribute-info {
    text-align: center;
}